<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ Website }}</title>
    <link rel="stylesheet" href="emergency.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    />
  </head>

  <body>
    <header class="header">
      <div class="logo">{{ Website }}</div>
      <nav class="nav">
        <ul class="navbar">
          <li><a href="/home">Home</a></li>
          <li><a href="/report">Report</a></li>
          <li><a href="/traffic">Live Traffic</a></li>
          <li><a href="/contacts">Contact Numbers</a></li>
          <li><a href="/event">Events</a></li>
          <li>
            <a href="/emergency"><button id="nav-button">Emergency</button></a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="top-notice">
      <div class="notice-container">
        <div class="notice-icon">
          <i class="fas fa-info-circle"></i>
        </div>
        <div class="notice-content">
          This is an important notice. Please read it carefully.
        </div>
      </div>
    </div>
    <div class="main-heading">
      <h1>Important Contact Numbers</h1>
    </div>
    <div class="contact-page">
      <div></div>
      <div class="tabbed-table">
        <div class="tab">
          <button class="tablinks" onclick="openContact(event, 'Ambulance')">
            Ambulance
          </button>
          <button class="tablinks" onclick="openContact(event, 'Hospital')">
            Hospital
          </button>
          <button class="tablinks" onclick="openContact(event, 'Fire-brigade')">
            Fire Brigade
          </button>
          <button
            class="tablinks"
            onclick="openContact(event, 'Government-offices')"
          >
            Government Offices
          </button>
        </div>

        <div id="Ambulance" class="tabcontent">
          <h5>Kei ta hala yar</h5>
          <p>La yeta pani hala.</p>
        </div>

        <div id="Hospital" class="tabcontent">
          <h5>Add Something</h5>
          <p>Something different here.</p>
        </div>

        <div id="Fire-brigade" class="tabcontent">
          <h5>Add Something</h5>
          <p>Something here.</p>
        </div>

        <div id="Government-offices" class="tabcontent">
          <h5>Add something</h5>
          <p>Something here</p>
        </div>
      </div>
      <div class="emergency-numbers">
        <div class="nepal-police e">
          <h5>Nepal Police</h5>
          <h2>100</h2>
        </div>
        <div class="emergency-btn">
          <a href="tel:100"></a
          ><button class="emergency-button">
            <i class="fa-solid fa-phone" style="color: #ffffff98"></i> Call
          </button>
        </div>
        <div class="fire-brigade e">
          <h5>Fire Brigade</h5>
          <h2>101</h2>
        </div>
        <div class="emergency-btn">
          <a href="tel:101"></a
          ><button class="emergency-button">
            <i class="fa-solid fa-phone" style="color: #ffffff98"></i> Call
          </button>
        </div>
        <div class="ambulance e">
          <h5>Ambulance</h5>
          <h2>102</h2>
        </div>
        <div class="emergency-btn">
          <a href="tel:102"></a
          ><button class="emergency-button">
            <i class="fa-solid fa-phone" style="color: #ffffff98"></i> Call
          </button>
        </div>
        <div class="traffic-police e">
          <h5>Traffic Police</h5>
          <h2>103</h2>
        </div>
        <div class="emergency-btn">
          <a href="tel:103"></a
          ><button class="emergency-button">
            <i class="fa-solid fa-phone" style="color: #ffffff98"></i> Call
          </button>
        </div>
      </div>
      <script src="script.js"></script>
    </div>
  </body>
</html>
