<form action="/" method="post">
  <input type="text" name="city" placeholder="Enter city" />
  <button type="submit">Go</button>
</form>

<h1>The Temperature in <%=city%> is <%= temp %> Degrees Celcius.</h1>
<h1>Humidity: <%= humidity%></h1>
