<form action="/traffic" method="post">
  <input type="text" name="city" placeholder="Enter city" />
  <button type="submit">Go</button>
</form>

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <title>Traffic layer</title>
    <style>
      html,
      body {
        margin: 0px;
        padding: 0px;
      }
      #map-canvas {
        height: 400px;
        width: 800px;
        margin: 20px;
        padding: 0px;
      }
    </style>
    <p><%= lat %></p>
    <p><%= long%></p>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
      function initialize() {
        var latitude = "<%= lat%>";
        var longitude = "<%= long%>";
        var myLatlng = new google.maps.LatLng(latitude, longitude);
        var mapOptions = {
          zoom: 13,
          center: myLatlng,
        };

        var map = new google.maps.Map(
          document.getElementById("map-canvas"),
          mapOptions
        );

        var trafficLayer = new google.maps.TrafficLayer();
        trafficLayer.setMap(map);
      }

      google.maps.event.addDomListener(window, "load", initialize);
    </script>
  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>
