.navbar {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
}
#map-canvas {
  height: 400px;
  width: 400px;
  margin: 20px;
  padding: 0px;
}
.hidden {
  display: none;
}
#nav-button,
.navbar li a {
  padding: 0.5rem 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

body {
  font-family: Mukta, sans-serif;
  background-color: #071952;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7efe1;
  color: #3a3335;
  position: sticky;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logo {
  font-size: 1.5rem;
}

.nav,
.navbar li {
  display: flex;
  align-items: center;
}

.navbar {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar li a {
  color: #3a3335;
  text-decoration: none;
  border-radius: 0.25rem;
}

.navbar li a:hover {
  transform: scale(1.05);
  color: #3a3335;
}

#nav-button {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
}

#nav-button:hover {
  background-color: #a00;
  transform: scale(1.05);
}

.notice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff2bc;
  padding: 1rem;
  border-radius: 4px;
}

.notice-icon {
  font-size: 24px;
  color: #007bff;
  margin-right: 0.5rem;
}

.notice-content {
  font-size: 16px;
  color: #333;
  text-align: center;
}

.landing-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-gap: 25px;
  padding: 25px;
}

.live-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr 1fr 2fr;
  grid-gap: 25px;
}

.pollution-card,
.weather-card {
  display: flex;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #94c470;
  border-radius: 10px;
}

.events-list,
.forecast-link,
.live-traffic {
  justify-content: center;
  display: grid;
  border-radius: 10px;
}

.card-icon {
  font-size: 50px;
  color: #007bff;
}

.card-data {
  font-size: 20px;
  color: #333;
  font-weight: 600;
}
.city-selection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.change-city {
  height: fit-content;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  border: none;
  border-radius: 10px;
  background-color: #007bff3b;
}

.events-list,
.live-traffic {
  padding: 5px;
  background-color: #e7efe1;
}

.forecast-link {
  grid-column: span 2;
  align-items: center;
}

.suggestion-card {
  display: grid;
  grid-column: span 2;
  background-color: #e7efe1;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.main-heading {
  padding-top: 25px;
  font-style: bold;
  font-size: 30px;
  color: #333;
  font-weight: 800;
  text-align: center;
}

.card-box {
  border: 1px #e3ffcd;
  background: rgb(231, 239, 225);
  background: radial-gradient(
    circle,
    rgba(27, 130, 214, 0.11) 0%,
    rgb(231, 239, 225) 100%
  );
  transition: 500ms ease;
}
.card-box:hover {
  scale: 1.03;
}
.select-style {
  width: 10rem;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .header,
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .nav {
    display: block;
  }

  .navbar li {
    margin-bottom: 0.5rem;
  }
}
